{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'first/index.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1>Here is Index HTML</h1>
      <form class="form" action="">
        <label for="id_firstname">Firstname :</label>
        <input type="text" name="firstname" id="id_firstname" />
        <label for="id_lastname">Lastname :</label>
        <input type="text" name="lastname" id="id_lastname" />
        <input type="submit" value="Submit Info" />
      </form>
      {% comment %}
      <img
        class="image"
        src="{% static 'first/golcuk.jpg' %}"
        alt="golcuk"
        width="500"
      />
      {% endcomment %}
    </div>
  </body>
</html>
